/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/docker/nginx/logs
/docker/db
/docker/database
.php_cs.cache
/tmp
.DS_Store
/.vscode
